.custom-navbar {
  background-color: white;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

.app-container.dark .custom-navbar {
  background-color: #121212;
}

.nav-links .nav-link {
  font-weight: 500;
  color: black;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.app-container.dark .nav-links .nav-link {
  color: white;
}

.nav-links .nav-link:hover {
  color: #0d6efd;
}

.theme-toggle-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container.dark .theme-toggle-btn {
  border-color: white;
  color: white;
}
